@using SeeSharp.Experiments
@using SeeSharp
@using SeeSharp.Blazor

@inject IJSRuntime JS

@page "/Experiment"

<h1>Example experiment</h1>

<div>
    <div class="experiment-settings">
        <SettingsGroup Title="Experiment settings">
            <FloatSetting Label="IOR" @bind-Value=indexOfRefraction />
            <FloatSetting Label="roughness" @bind-Value=roughness />
            <FloatSetting Label="transmit" @bind-Value=transmit />
            <FloatSetting Label="metallic" @bind-Value=metallic />
        </SettingsGroup>
    </div>

    <RotationInput RotationMode=RotationInput.Mode.HalfCircle @bind-Value=theta></RotationInput>
    <RotationInput RotationMode=RotationInput.Mode.FullCircle @bind-Value=phi></RotationInput>

    <p>
        @theta
        @phi
    </p>

    <button @onclick=Download>Download Result</button>

    <div class="experiment-results">
        <FlipViewer Flip="@flip" OnClick="@OnFlipClick"></FlipViewer>
        <FlipViewer Flip="@fliprender" OnClick="@OnFlipRenderClick"></FlipViewer>
        <p>
            @* @thetaOut
            @phiOut *@

            @if(select != null) {
                <br>
                @($"{select[0]:G2} {select[1]:G2} {select[2]:G2} ")
            }

            @* @if(totals != null) {
                <br>
                @($"{totals[0]:G2} {totals[1]:G2} {totals[2]:G2} ")
            } *@
        </p>
    </div>

</div>

@code {
    float theta {
        get => field;
        set {
            field = value;
            RunExperiment();
        }
    }
    float phi {
        get => field;
        set {
            field = value;
            RunExperiment();
        }
    }

    float thetaOut {get;set;}
    float phiOut {get;set;}

    SimpleImageIO.FlipBook flip, fliprender;
}
