@using SeeSharp.Experiments
@using SeeSharp
@using SeeSharp.Blazor

@inject IJSRuntime JS

@page "/IntegratorTest"

<SceneSelector @ref=sceneSelector OnSceneLoaded="@OnSceneLoaded"></SceneSelector>

<div>
    <div class="experiment-settings">
        @if (readyToRun)
        {
            <p><button @onclick="OnRunClick" @ref="runButton">Run</button></p>
        }
        <SettingsGroup Title="Experiment settings">
            <IntSetting Label="Num samples" @bind-Value=NumSamples HoverText="Number of samples per pixel" />
        </SettingsGroup>
    </div>

    @if (!running)
    {
        @if (resultsAvailable)
        {
            <div class="experiment-results">
                <FlipViewer Flip="@flip" OnClick="@OnFlipClick"></FlipViewer>

                @if (selected.HasValue && selected.Value)
                {
                    <table>
                        <tr><th>Mesh</th><td>@(selected.Value.Mesh.Name)</td></tr>
                        <tr><th>Material</th><td>@(selected.Value.Mesh.Material.Name) (roughness: @(selected.Value.Mesh.Material.GetRoughness(selected.Value)), transmissive: @(selected.Value.Mesh.Material.IsTransmissive(selected.Value)))</td></tr>
                        <tr><th>Distance</th><td>@(selected.Value.Distance)</td></tr>
                        <tr><th>Position</th><td>@(selected.Value.Position)</td></tr>
                    </table>
                }
            </div>
        }
    }
    else
    {
        <p>Rendering...</p>
    }
</div>
