@using SeeSharp.Experiments
@using SeeSharp
@using SeeSharp.Blazor

@inject IJSRuntime JS

@inherits SeeSharp.Blazor.Template.Pages.BaseExperiment

@page "/Experiment"

<h1>Example experiment</h1>

<div style="display: flex; gap: 5px; flex-wrap: wrap;">
    <div style="flex-grow: 1">
        <SceneSelector @ref=sceneSelector OnSceneLoaded="@OnSceneLoaded"></SceneSelector>
    </div>
    <LogOutput></LogOutput>
</div>

<div>
    <div class="experiment-settings">
        @if (readyToRun)
        {
            <p><button @onclick="OnRunClick" @ref="runButton">Run</button></p>
        }
        <SettingsGroup Title="Experiment settings">
            <IntSetting Label="Num samples" @bind-Value=NumSamples HoverText="Number of samples per pixel" />
        </SettingsGroup>
    </div>

    @if (!running)
    {
        @if (resultsAvailable)
        {
            <div class="experiment-results">
                <FlipViewer Flip="@flip" OnClick="@OnFlipClick"></FlipViewer>

                @* @if (selected.HasValue && selected.Value)
                {
                    <table>
                        <tr><th>Mesh</th><td>@(selected.Value.Mesh.Name)</td></tr>
                        <tr><th>Material</th><td>@(selected.Value.Mesh.Material.Name) (roughness: @(selected.Value.Mesh.Material.GetRoughness(selected.Value)), transmissive: @(selected.Value.Mesh.Material.IsTransmissive(selected.Value)))</td></tr>
                        <tr><th>Distance</th><td>@(selected.Value.Distance)</td></tr>
                        <tr><th>Position</th><td>@(selected.Value.Position)</td></tr>
                    </table>
                } *@
                @* <button @onclick="OnDownloadClick">Download results</button> *@
            </div>
        }
    }
    else
    {
        <p>Rendering...</p>
    }
</div>

<HtmlProgressBar></HtmlProgressBar>

@code {
    SceneSelector sceneSelector;
    Scene scene;
    bool readyToRun = false;
    bool running = false;
    bool sceneJustLoaded = false;
    bool resultsAvailable = false;
    ElementReference runButton;

    async Task OnSceneLoaded(SceneFromFile sceneFromFile)
    {
        await Task.Run(() => scene = sceneFromFile.MakeScene());

        flip = null;

        resultsAvailable = false;
        readyToRun = true;
        sceneJustLoaded = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (readyToRun && sceneJustLoaded)
        {
            await runButton.FocusAsync();
        }

        sceneJustLoaded = false;
    }

    async Task OnRunClick()
    {
        readyToRun = false;
        resultsAvailable = false;
        running = true;
        await Task.Run(() => RunExperiment());
        readyToRun = true;
        running = false;
        resultsAvailable = true;
    }
}