@namespace SeeSharp.Blazor

<div style="position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #e6f1f4;
    padding: 0px 20px 0px 20px;
    border-color: #24758b;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    display: flex;
    align-items: center;">

    @if(progressBar != null && progressBar.NumWorkDone < progressBar.TotalWork && FunStuff != null) {
        <img src="@FunStuff[imageIdx]" height="100px" style="
            margin-top: 4px;
            margin-bottom: 4px;
            margin-right: 10px;
            margin-left: -10px;"
        />
    }
    <p>
        @if (progressBar != null && progressBar.TotalWork != 0) {
            @if(progressBar.NumWorkDone < progressBar.TotalWork) {
                <label>
                    @progressBar.Label
                    <progress id="file" value="@progressBar.NumWorkDone" max="@progressBar.TotalWork"></progress>
                    @($"{progressBar.NumWorkDone / (double)progressBar.TotalWork:P0}")
                    (@($"{progressBar.TimeElapsedSeconds:f2}s / {progressBar.TotalTimeEstimateSeconds:f2}s"))
                </label>
            } else {
                @(progressBar.Label)
                @: done after
                @($"{progressBar.TimeElapsedSeconds:f2}s")
                <text> (</text>
                @progressBar.NumWorkDone
                <text> / </text>
                @progressBar.TotalWork
                <text>)</text>
            }
        } else {
            @:Idle
        }
    </p>
</div>

@code {
    SeeSharp.Common.ProgressBar progressBar;
    System.Random rng = new();
    int imageIdx = -1;

    [Parameter]
    public string[] FunStuff { get; set; }

    void Sync(SeeSharp.Common.ProgressBar progressBar) {
        if (this.ProgressBar != progressBar && FunStuff != null && FunStuff.Length > 0)
            imageIdx = rng.Next(FunStuff.Length);
        this.progressBar = progressBar;
        InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized() {
        SeeSharp.Common.ProgressBar.OnUpdate += Sync;
    }
}
