@using System.Reflection

@namespace SeeSharp.Blazor

<details open>
    <summary>@Name</summary>
    <div>
        @foreach (var prop in IntegratorUtils.GetFilteredProps(TargetType))
        {
            <RenderSetting Member="@prop"
                        Getter="@(() => prop.GetValue(Getter()))"
                        Setter="@(v => { var obj = Getter(); prop.SetValue(obj, v); Setter(obj); })" />
        }

        @foreach (var field in IntegratorUtils.GetFilteredFields(TargetType))
        {
            <RenderSetting Member="@field"
                        Getter="@(() => field.GetValue(Getter()))"
                        Setter="@(v => { var obj = Getter(); field.SetValue(obj, v); Setter(obj); })" />
        }
    </div>
</details>

@code {
    [Parameter] public string Name { get; set; } = string.Empty;
    [Parameter] public Type TargetType { get; set; } = default!;
    [Parameter] public Func<object> Getter { get; set; } = default!;
    [Parameter] public Action<object> Setter { get; set; } = default!;

    private object StructInstance => Getter() ?? Activator.CreateInstance(TargetType)!;

    private void UpdateProperty(PropertyInfo prop, object val)
    {
        var obj = StructInstance;
        prop.SetValue(obj, val);
        Setter(obj);
    }

    private void UpdateField(FieldInfo field, object val)
    {
        var obj = StructInstance;
        field.SetValue(obj, val);
        Setter(obj);
    }
}